<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav %>
    <button class="btn">Add Note</button>
    <div id="newNote" class="hide">
      <div class="editNote">
        <input type="text" name="title" id="title" />
        <textarea name="description" id="description"></textarea>
        <button class="btn" type="button">Cancel</button>
        <button class="btn">Save</button>
      </div>
    </div>
    <h2>Notes</h2>
    <ul>
      
    </ul>
  </body>
</html>
