<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav %>
    <button class="btn">Edit Note</button>
    <div id="newNote" class="hide">
      <div class="editNote">
        <input type="text" name="title" id="title" value="note.title" />
        <textarea name="description" id="description" value="note.description"></textarea>
        <button class="btn" type="button">Cancel</button>
        <button class="btn">Save</button>
      </div>
    </div>
  </body>
</html>
