<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav %>
    <button id="addNewNote" class="btn">Add Note</button>
    <div id="newNote" class="hide">
      <div class="editNote">
        <form action="/notes" method="POST">
          <input type="text" name="title" id="title" placeholder="Title" />
          <textarea name="description" id="description" placeholder="Description"></textarea>
          <button class="btn" type="button">Cancel</button>
          <button class="btn">Save</button>
        </form>
      </div>
    </div>
    <h2>Notes</h2>
    <ul>
      <% notes.forEach( function(note) { %>
        <li>
          <a href=<%= '/notes/' + note.id %> >
            <%= note.title %>
          </a>
        </li>
      <% }) %>
    </ul>
    <script src="../javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
